/*--##################################################### 
#   ZEN_TECH solutions                                  #
#   Programmer: Zukisa NANTE                            #
#   Qualifications: Bachelor Electrical  Engineering    #
#   Specialisation: Computer Operating Systems          #
######################################################-*/


/* declaring variables */

$pageFont: "Abel",
sans-serif;
$primaryColor_1: #008080;
$primaryColor_2: red;
$primaryColor_3: #008080;
$primaryColor_4: aqua;
$mainBodyColor: lightGrey;
$columnMiddle: url(../img/one-min.jpg) no-repeat;

/* body */

* {
    box-sizing: border-box;
}

body,
html {
    font: 100% $pageFont;
    height: 100%;
    background-color: $mainBodyColor;
}

#canvas {
    background-color: $primaryColor_3;
}

.mainContent {
    margin: auto;
    max-width: 500px;
    padding: 10px;
    text-align: center;
    background-color: $primaryColor_4;
}


/* parallax */

.parallax {
    /* The image used */
    background-image: url("../img/ian-dooley-DuBNA1QMpPA-unsplash-min.jpg");
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */

@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
}


/* For mobile phones: */

[class*="col-"] {
    width: 100%;
}


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .container {
        background-color: $primaryColor_2;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    .container {
        background-color: green;
    }
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    .container {
        background-color: blue;
    }
}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    .container {
        background-color: $primaryColor_1;
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    .container {
        background-color: pink;
    }
}


/* header */

.header {
    background-image: url("../img/tim-umphreys-6x1zA_0H9LA-unsplash-min.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    margin-block: 100px;
    text-align: center;
    color: white;
    opacity: 0.2;
    //font-size: 28px;
    font-weight: normal;
    // border-radius: 15px;
}

//resposive header image

/* On smaller screens, decrease text size */

@media only screen and (max-width: 300px) {
    .header {
        font-size: 11px;
    }
}


/* nav */


/* Style the top navigation bar */

.nav {
    overflow: hidden;
    background-image: url("../img/Zukisa_waveOH-min.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    // -webkit-filter: grayscale(100%);
    // /* Safari 6.0 - 9.0 */
    // filter: blur(100%);
}


/* Style the navL.navLinks links */

.navLinks a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/* Change color on hover */

.navLinks a:hover {
    background-color: #ddd;
    color: black;
}


/* navbar responsive */

@media screen and (max-width: 600px) {
    .navLinks a:not(:first-child) {
        display: none;
    }
    .navLinks a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .navLinks.responsive {
        position: relative;
    }
    .navLinks.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .navLinks.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}


/* Create three unequal columns that floats next to each other */

.column {
    float: left;
    padding: 10px;
}


/* Left and right column */

.column.side {
    width: 25%;
}


/* Middle column */

.column.middle {
    width: 50%;
    // opacity: 0.2;
    // background: $columnMiddle;
    //  border-radius: 25px;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .column.side,
    .column.middle {
        width: 100%;
    }
}


/* cardPhoto */

img {
    max-width: 100%;
    height: auto;
    // -webkit-filter: grayscale(75%);
    // /* Safari 6.0 - 9.0 */
    // filter: grayscale(75%);
}


/* footer */

.footer {
    background-image: url("../img/davidcohen-EhSxbBCjr9A-unsplash-min.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 10px;
    color: white;
    overflow: hidden;
    height: 400px;
}

.mySlides {
    display: none;
}

img {
    vertical-align: middle;
}


/* Slideshow container */

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    // height: 100px;
}


/* Caption text */

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}


/* Number text (1/3 etc) */

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


/* The dots/bullets/indicators */

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}


/* On smaller screens, decrease text size */

@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px;
    }
}


/* cardPhoto */

.cardPhoto {
    position: relative;
    text-align: center;
    color: white;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}